:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --background-line: 4px, solid;
}

* {
    box-sizing: border-box;
}

body {
    --font-Open: 'Open Sans', sans-serif;
    --font-Raleway: 'Raleway', sans-serif;
}

.container {
    max-width: 1352px;
    margin: 0;
}

.header .container {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-white);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    opacity: 1;
}

.header {
    display: flex;
    justify-content: center;
    top: 0;
}

.logo {
    font-family: var(--font-Raleway);
    font-size: 32px;
    color: #08A6E4;
    text-decoration: none;
    padding-left: 136px;
}

.nav-li {
    display: flex;
    padding-right: 136px;
}

.nav-li-ul {
    font-family: var(--font-Open);
    font-size: 11px;
    text-transform: uppercase;
}

.nav-ul-link {
    padding: 0 12px 27px 12px;
    margin-left: 95px;
    text-decoration: none;
    color: var(--color-grey);
    min-width: 30px;
    font-weight: bold;
}

.nav-ul-link:hover {
    color: var(--color-black);
    font-weight: bolder;
    border-bottom: 4px solid var(--color-primary);
}

.section .container {
    height: 712px;
    margin: 0 auto;
    background: url("../assets/background.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.section-title {
    text-align: center;
    font-size: 49px;
    font-family: var(--font-Raleway);
    color: var(--color-black);
    text-transform: capitalize;
    opacity: 1;
    margin: 130px auto 20px;
}

.section-p {
    text-align: center;
    font-family: var(--font-Open);
    font-size: 16px;
    opacity: 1;
    margin-bottom: 38px;
    line-height: 22px;
}

.section-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: var(--font-Open);
    font-size: 16px;
    font-weight: bold;
    background: var(--color-primary);
    border-radius: 40px;
    opacity: 1;
    color: var(--color-white);
    padding: 22px 157px;
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.section-button-link {
}

.statistics .container {
    width: 100%;
    margin: 0 auto;
    height: 531px;
    box-shadow: 0 -5px 80px #00000029;
}

.statistics-title {
    font-family: var(--font-Raleway);
    font-size: 36px;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-top: 100px;
    margin-bottom: 145px;
}

.statistics-column {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-content {
    display: flex;
    justify-content: center;
    margin-bottom: 121px;
    gap: 80px
}

.statistics-circle1, .statistics-circle2, .statistics-circle3 {
    width: 63px;
    height: 63px;
    border-radius: 50%;
}

.statistics-circle1 {
    position: relative;
    background-color: var(--color-redish);
}

.statistics-circle2 {
    position: relative;
    background-color: var(--color-primary);
}

.statistics-circle3 {
    position: relative;
    background-color: var(--color-green);
}

.statistics-circle1::after {
    content: url("../assets/person.svg");
    position: absolute;
    left: 50%;
}

.statistics-circle2::after {
    content: url("../assets/eye.svg");
    position: absolute;
    left: 50%;
}

.statistics-circle3::after {
    content: url("../assets/catalog.svg");
    position: absolute;
    left: 50%;
}

.column {
    display: flex;
    margin-left: 10px;
}

.statistics-numbers {
    display: block;
    text-align: center;
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 6px;
    padding: 14px 0 14px 0;
}

.statistics-feature {
    font-family: var(--font-Raleway);
    color: var(--color-grey);
    font-size: 17px;
    text-align: center;
    width: 90%;
}

.benefits .container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--color-light-grey);
    display: flex;
    justify-content: center;
}

.benefits-article {
    width: 1124px;
    /*height: 100vh;*/
    /*TODO pytanie*/
    margin: 105px 251px;
    display: grid;
    grid-row-gap: 37px;
}

.article {
    display: flex;
    flex-direction: row;
    width: 1124px;
    background-color: var(--color-light-grey);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.article2 {
    height: 370px;
}

.article3 {
    border: none;
}

.article-box {
    width: 40%;
    text-align: left;
    align-items: center;
}

.article-box1 {
    position: relative;
    width: 416px;
    height: 188px;
    margin: 91px 0 91px 35px;
}

.article-box-img1::after {
    position: absolute;
    content: "";
    background: var(--color-redish);
    border-radius: 41px;
    transform: translate(50%, -50%) rotate(45deg);
    width: 180px;
    height: 180px;
    z-index: 0;
}

.article-box-img2::after {
    position: absolute;
    content: "";
    background: var(--color-primary);
    border-radius: 50%;
    transform: translate(-30%, -5%);
    width: 320px;
    height: 320px;
    z-index: 0;
}

.article-box2 {
    width: 416px;
    margin: 69px 20px 70px 0;
    position: relative;
}

.article-box3 {
    min-width: 623px;
    height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    position: relative;
}

.article-box3-add {
    width: 554px;
    height: 230px;
    margin-left: 35px;
    position: relative;
}

.article2 {
    display: flex;
    flex-direction: row-reverse;
}

.article3 {
    display: flex;
    align-items: center;
    gap: 57px;
    height: 370px;
    width: 100%;
}

.article-title {
    font-family: var(--font-Raleway);
    font-size: 36px;
    max-width: 70%;
}

.article-text {
    font-family: var(--font-Open);
    font-size: 16px;
    margin-top: 30px;
}

.article-box-img {
    width: 60%
}

.article-img1 {
    max-width: 55%;
    z-index: 30;
    margin-bottom: 38px;
}

.article-img2 {
    max-width: 63%;
    z-index: 1;
    margin-right: 60px;
}

.article-img3 {
    max-width: 80%;
}

.article-box-img1 {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
}

.article-box-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-box-img3 {
    /*width: 440x;*/
    height: 370px;
    background: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.article-box1::before {
    content: "";
    background-color: var(--color-redish);
    width: 75%;
    height: 4px;
    position: absolute;
    bottom: 0;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.article-box2::before {
    content: "";
    background-color: var(--color-primary);
    width: 75%;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.article-box3-add::before {
    content: "";
    background-color: var(--color-green);
    width: 75%;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.pricing .container {
    margin: 0 auto;
    width: 1266px;
    height: 616px;
}

.pricing-header {
    font-family: var(--font-Raleway);
    font-size: 36px;
    text-align: center;
    margin-top: 100px;
}

.pricing-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pricing-box {
    width: 372px;
    height: 467px;
    margin-top: 60px;
    margin-bottom: 42px;
    text-align: center;
    /*vertical-align: center;*/
    border-radius: 18px;
    position: relative;
}

.pricing-box1 {
    border: 1px solid var(--color-redish);
}

.pricing-box2 {
    border: 1px solid var(--color-primary);
    padding: 15px 16px;
    box-sizing: content-box;
    transform: translate(0, -20px);
    box-shadow: 5px 10px 27px #07ACE629;
}

.pricing-box3 {
    border: 1px solid var(--color-green);
}

.pricing-nav {
}

.pricing-title {
    font-family: var(--font-Raleway);
    font-size: 20px;
    font-weight: bold;
    margin-top: 34px;
}

.pricing-price {
    font-family: var(--font-Open);
    font-size: 46px;
    margin-top: 20px;
    height: 70px;
}

.pricing-price1 {
    color: var(--color-redish);
}

.pricing-price2 {
    color: var(--color-primary);
}

.pricing-price3 {
    color: var(--color-green);
}


.pricing-span1 {
    display: block;
    margin-bottom: 40px;
    font-family: var(--font-Raleway);
    font-weight: bold;
    font-size: 12px;
}

.pricing-span2 {
    display: block;
    margin-bottom: 40px;
    font-family: var(--font-Raleway);
    font-weight: bold;
    font-size: 12px;
}

.pricing-span3 {
    display: block;
    margin-bottom: 40px;
    font-family: var(--font-Raleway);
    font-weight: bold;
    font-size: 12px;
}

.pricing-list {
    font-family: var(--font-Open);
    font-size: 14px;
    line-height: 40px;
}

.pricing-el {
}
.pricing-el::before {
    content: url("../assets/ckechmark-1.svg");
   margin-right: 5px;
}


.pricing-el-not-before::before {
    content: url("../assets/close.svg");
    height: 11px;
    width: 11px;
    }






.pricing-btn {
    border-radius: 18px;
    border: none;
    padding: 16px 57px;
    position: absolute;
    right: 30%;
    bottom: -5%;

}

.pricing-btn1 {
    background-color: var(--color-redish);
}

.pricing-btn2 {
    background-color: var(--color-primary);
}

.pricing-btn3 {
    background-color: var(--color-green);
}

.pricing-button {
    font-family: var(--font-Open);
    font-size: 13px;
    font-weight: bold;
    color: var(--color-white);
    text-decoration: none;
}

