
.benefits {
  width: 100%;
  margin: 0 auto;
  background-color: $color-light-grey;
  display: flex;
  justify-content: center;

  .benefits-article {
    width: 1124px;
    margin: 105px 0;
    display: grid;
    grid-row-gap: 37px;
           .article {
      display: flex;
      //flex-direction  : row;
      width: 100%;
      border: 1px solid #E8E9ED;
      border-radius: 5px;
      background-color: $color-white;

      .article-box {
        width: 40%;
        text-align: left;
        align-items: center;
      }
    }
  }
}
.article1 {
  .article-box1 {
    position: relative;
    width: 416px;
    height: 188px;
    margin: 91px 0 91px 35px;
    &::before {
      content: "";
      background-color: $color-redish;
      width: 75%;
      height: 4px;
      position: absolute;
      bottom: 0;
      border: 1px solid #E8E9ED;
      border-radius: 5px;
    }

    .article-title {
      @extend %articleTitle
    }

    .article-text {
      @extend %articleText;
    }
  }

  .article-box-img1 {
    display: flex;
    align-items: end;
    justify-content: center;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: $color-redish;
      border-radius: 41px;
      transform: translate(50%, -50%) rotate(45deg);
      width: 180px;
      height: 180px;
      z-index: 5;
    }

    .article-img1 {
      max-width: 55%;
      z-index: 30;
      margin-bottom: 38px;

    }
  }
}

.article2 {
  display: flex;
  height: 370px;
  flex-direction: row-reverse;

  .article-box2 {
    width: 416px;
    margin: 69px 20px 70px 0;
    position: relative;
    &::before {
      content: "";
      background-color: $color-primary;
      width: 75%;
      height: 4px;
      position: absolute;
      bottom: 0;
    }

    .article-title {
      @extend %articleTitle
    }

    .article-text {
      @extend %articleText;
    }
  }

  .article-box-img2 {
    display: flex;
    align-items: center;
    justify-content: center;
    &::after {
      position: absolute;
      content: "";
      background: $color-primary;
      border-radius: 50%;
      transform: translate(-30%, -5%);
      width: 320px;
      height: 320px;
      z-index: 0;
    }
    .article-img2 {
      max-width: 63%;
      z-index: 1;
      margin-right: 60px;
    }
  }
}

.article3 {
  display: flex;
  align-items: center;
  gap: 57px;
  height: 370px;
  width: 100%;
  border: none;
    .article-box3 {
    min-width: 623px;
       height: 370px;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    position: relative;

    .article-box3-add {
      width: 554px;
      height: 230px;
      margin-left: 35px;
      position: relative;
      &::before {
        content: "";
        background-color: $color-green;
        width: 75%;
        height: 4px;
        position: absolute;
        bottom: 0;
      }
    .article-title {
      @extend %articleTitle
    }
    .article-text {
      @extend %articleText;
    }}
  }
  .article-box-img3 {
    /*width: 440x;*/
    height: 370px;
    background: $color-green;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: end;
    .article-img3 {
      max-width: 80%;
    }
  }
}

.article-box-img {
  width: 60%;
}



